:root {
  --header-height: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.32),
    0.6px 0.5px 0.9px -1.2px hsl(var(--shadow-color) / 0.33),
    1.5px 1.3px 2.3px -2.3px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.33),
    1.2px 1.1px 1.9px -0.8px hsl(var(--shadow-color) / 0.35),
    3px 2.7px 4.7px -1.5px hsl(var(--shadow-color) / 0.36),
    7.3px 6.5px 11.3px -2.3px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-high:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.31),
    2.3px 2px 3.5px -0.3px hsl(var(--shadow-color) / 0.32),
    4.2px 3.7px 6.5px -0.7px hsl(var(--shadow-color) / 0.32),
    6.8px 6.1px 10.6px -1px hsl(var(--shadow-color) / 0.33),
    10.6px 9.5px 16.4px -1.3px hsl(var(--shadow-color) / 0.34),
    16.4px 14.7px 25.4px -1.6px hsl(var(--shadow-color) / 0.34),
    24.8px 22.2px 38.4px -2px hsl(var(--shadow-color) / 0.35),
    36.3px 32.6px 56.4px -2.3px hsl(var(--shadow-color) / 0.36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  background-color: #3D3D3D ;
  overflow-x: hidden; /* Evita scroll lateral */
  overflow-y: visible; 
  font-family: "Poppins", serif;
  background-color: white;

  
}

html {
  scroll-behavior: smooth;
}

ul {
  all: unset;
}

li {
  list-style: none;
}

/* Nav Bar Menu*/

nav a {
  all: unset;
}

.nav-branding {
  text-align: center;
  width: 50px;
}

button {
  all: unset;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav-bar{
  height: var(--header-height);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  color: black;
  font-weight: 200;
  font-style: normal;
  will-change: transform;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid black;
}

.nav-menu{
  position: fixed;
  top: var(--header-height);
  left: -100%;
  width: 100%;
  text-align: center;
  background-color: hsla(0, 0%, 0%, .75 );
  backdrop-filter: blur(8px);
  transition: 0.5s;
  margin: 0; 
	padding: 0; 
  z-index: 1001;
  
}

.nav-menu.active{
  left: 0;
  height: auto;
}

.nav-item{
	padding: 15px 0 15px 0; 
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 300;
  font-style: normal;
  color: white;
  
}

.nav-item:hover{
  background-color: rgb(190, 190, 190)(66, 66, 66, 0.9);
  cursor: pointer;
}


/* Home Section */
section {
  scroll-margin-top: var(--header-height);
}
.home, .skills, .projects {
  height: 100vh;
  background-color: white;
  will-change: transform, opacity;
  box-sizing: border-box;
  overflow: hidden;
}

.home-container, .skills-container, .projects-container {
  margin-top: 8vh;
  width: 100%;
  padding: 2vh 24px; /* Agrega el mismo padding lateral que la nav-bar */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Evita desbordamientos */
}

.home-container h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  padding: 0 24px;
  margin-top: 6vh;
  margin-bottom: 5vh;
  animation: myAnimTop 2s ease 0s 1 normal forwards;
  
}

.icons-container {
  display: flex;
  flex-direction: column;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.linkedin-logo {
  height: clamp(20px, 5vh, 50px);
  fill:red;
  
}

.mail-logo {
  height: clamp(20px, 5vh, 50px);
}

.github-logo {
  height: clamp(20px, 5vh, 50px);
  fill:black;
}

.profile-image-container {
  width: 100%;
  margin-right: 7vw;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-image {
  height: 40vh; /* Reduce la altura */
  width: auto;  /* Mantén el ancho proporcional */
  padding: 5px 5px 5px 5px;
  border-left: 1px solid black;
  object-fit: cover;
  animation: myAnimRight 2s ease 0s 1 normal forwards;

}

.profile-title p {
  width: 100vw; /* Ancho relativo a la ventana */
  max-width: 100%; /* Evita que exceda el contenedor */
  font-size: clamp(1.3rem, 2.2vw, 3rem);
  font-weight: 500;
  text-align: center;
  padding: 0 18px;
  overflow-wrap: break-word;
  word-break: break-word;
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

.profile-title span {
  font-weight: 200;
}


/******************************************************* SKILLS *************************************************************/

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  padding: 0 24px;
  margin-top: 8vh;
  opacity: 0;
}

.title.visible {
  animation: myAnimTop 2s ease 0s 1 normal forwards;
  opacity: 1;
}

.skills-container, .projects-container {
  margin-top: 0;
}

.card-container {
  display: flex;
  width: 100%; 
  flex-direction: row; 
  justify-content: space-around;
  margin-top: 7vh;
  opacity: 0;
}

.card-container.visible {
  opacity: 1;
  animation: skillsAnimLeft 2s ease 0s 1 normal forwards;
}

.card {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 30%;
  overflow: hidden; 
  border-color: #000000;
}

.card-img-container {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-img-container img {
  width: 100%;
  height: 100%;;
  object-fit: contain;
}

.skills h3 {
  font-size: clamp(0.8rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
}

/******************************************************* PROJECTS *************************************************************/

.project-card-container {
  display: flex;
  height: 75vh;
  width: 100%; 
  flex-direction: row; 
  justify-content: space-around;
  margin-top: 5vh;
  opacity: 0;
  padding: 0 8px;
}

.project-card-container.visible {
  opacity: 1;
  animation: skillsAnimLeft 2s ease 0s 1 normal forwards;
}

.project-card {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 10px;
  border-radius: 16px  16px 16px 16px;
  width: 100%;
  height: 70vh;
  overflow: hidden; 
  border-color: #000000;
  box-shadow: var(--shadow-elevation-medium);
}

.project-card-img-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-card-img-container img {
  width: 100%;
  border-radius: 16px  16px 16px 16px;
  object-fit: contain;
}

.project-card-text {
  display:flex;
  flex-direction: column;
  width: 100%;

}

.project-card h3 {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-weight: 600;
  align-self: baseline;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  top: 15.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}


/* Hamburger Menu Styles */

.ham {
  padding-left: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10002;
}

.hamRotate.active {
  transform: rotate(45deg);


}
.hamRotate180.active {
  transform: rotate(180deg);


}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  fill: none;
  stroke:rgb(49, 49, 49);
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}


.ham1.active .top {
  stroke-dashoffset: -98px;


}

.ham1.active .bottom {
  stroke-dashoffset: -138px;

}






@media (max-width: 378px) {
  .profile-title p {
      font-size: clamp(0.8rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
      width: 100%; /* Texto más centrado y ajustado */
      padding: 0 5%; /* Espaciado en los bordes */
  }

  .card p {
    font-size: clamp(0.7rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
    font-weight: 300;
    text-align: center;
  }

  .project-card p {
    text-align: left;
    font-size: clamp(0.7rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
    font-weight: 300;
    align-self: baseline;
  }
}

/************************************************ ANIMATIONS ****************************************/


@keyframes fadeInUp {
  0% {
    transform: translateY(-100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes myAnimRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
  
}

@keyframes myAnimTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes skillsAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes skillsAnimRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes skillsAnimBottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}