* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #F0F5F9 ;
}

.nav-bar-container{
  background-color: #F5ECD5;
  height: 10vh;
  border-bottom:1px solid #578E7E;
  display: flex;
  align-items: center;
}

.profile-container{
  color: #3D3D3D;
  font-weight: bolder;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}