@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --header-height: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --text-color: hsl(0, 0%, 35%);
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low-nav:
    0px 0.7px 0.9px hsl(var(--shadow-color) / 0.22),
    0px 1.1px 1.3px -0.9px hsl(var(--shadow-color) / 0.27),
    0px 2.6px 3.2px -1.8px hsl(var(--shadow-color) / 0.32);
  --shadow-elevation-low:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.32),
    0.6px 0.5px 0.9px -1.2px hsl(var(--shadow-color) / 0.33),
    1.5px 1.3px 2.3px -2.3px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.33),
    1.2px 1.1px 1.9px -0.8px hsl(var(--shadow-color) / 0.35),
    3px 2.7px 4.7px -1.5px hsl(var(--shadow-color) / 0.36),
    7.3px 6.5px 11.3px -2.3px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-high:
    0.4px 0.3px 0.6px hsl(var(--shadow-color) / 0.31),
    2.3px 2px 3.5px -0.3px hsl(var(--shadow-color) / 0.32),
    4.2px 3.7px 6.5px -0.7px hsl(var(--shadow-color) / 0.32),
    6.8px 6.1px 10.6px -1px hsl(var(--shadow-color) / 0.33),
    10.6px 9.5px 16.4px -1.3px hsl(var(--shadow-color) / 0.34),
    16.4px 14.7px 25.4px -1.6px hsl(var(--shadow-color) / 0.34),
    24.8px 22.2px 38.4px -2px hsl(var(--shadow-color) / 0.35),
    36.3px 32.6px 56.4px -2.3px hsl(var(--shadow-color) / 0.36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", serif;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  all: unset;
}

li {
  list-style: none;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.separator {
  color: black;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid black;
  display: block; /* Asegura que el elemento ocupe el ancho completo disponible */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  margin-top: 2rem;
}

/*******************************
 *  HEADER
 *******************************/

nav a {
  all: unset;
}

.nav-branding {
  font-weight: 400;
  display:flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  width: 4vh;
  height: 4vh;
}

button {
  all: unset;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-bar{
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: black;
  font-weight: 200;
  font-style: normal;
  will-change: transform;
  box-sizing: border-box;
  position: relative;
  box-shadow: var(--shadow-elevation-low-nav);
}
@media (max-width: 375px) {
  .nav-bar {
    height: 3rem;
    padding-top: 6px;
  }

  .nav-branding {
    width: 3.5vh;
    height: 3.5vh;
    font-size: 0.9rem;
  }
}

.nav-menu{
  position: fixed;
  top: 3rem;
  left: -100%;
  width: 100%;
  text-align: center;
  background-color: hsla(0, 0%, 0%, .75 );
  backdrop-filter: blur(8px);
  transition: 0.5s;
  margin: 0; 
	padding: 0; 
  z-index: 1001;
  
}
.ham-button {
  display: flex;
  align-items: center;
}

.nav-menu.active{
  left: 0;
  height: auto;
}

.nav-item{
	padding: 15px 0 15px 0; 
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 300;
  font-style: normal;
  color: white;
  transition: background-color 0.3s ease;
}



/*******************************
 *  HOME
 *******************************/
.name {
  display: none;
}

.home, .skills, .projects, .education, .contact-me {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: white;
  will-change: transform, opacity;
  box-sizing: border-box;
}

.home {
  justify-content: unset;
}

.home h1 {
  margin-top: 15vh;
  font-size: clamp(1.9rem, 5vw, 5.5rem);
  font-weight: var(--font-medium);
  width: 100%;
  animation: myAnimTop 2s ease 0s 1 normal forwards;
}

.icons-container {
  display: flex;
  flex-direction: column;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
  margin-right: 0.5vh;
  align-items: center; /* Cambia a center para centrar los iconos horizontalmente */
}

.fab.fa-github, .fab.fa-whatsapp, .fas.fa-envelope, .fab.fa-linkedin {
  font-size: 1.6rem;
  margin-bottom: 0.7vh;
  transition: color 0.3s ease;
  color: black;
}

.fas.fa-envelope {
  font-size: 1.5rem;
}


.profile-title {
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.profile-image-container {
  width: 100%;
  margin-right: 7vw;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-image {
  height: 40vh; /* Reduce la altura */
  width: auto;  /* Mantén el ancho proporcional */
  padding: 5px 5px 5px 5px;
  border-left: 1px solid black;
  object-fit: cover;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
}

.profile-title p {
  width: 100%; /* Ancho relativo a la ventana */
  font-size: clamp(0.8rem, 3vw, 1rem); /* Rango más pequeño para pantallas chicas */
  font-weight: 300;
  text-align: center;
  padding: 0 36px;
  animation: fadeInDown 2s ease 0s 1 normal forwards;;
}

@media (max-width: 375px) {
  .profile-title p {
    font-size: 0.7rem;
  }
}

.profile-title span {
  font-weight: 500;
}


/*******************************
 *  SKILLS
 *******************************/
.skills {
  height: auto;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-medium);
  padding: 0 24px;
  opacity: 0;  
  margin-bottom: 12vh;
  margin-top: 8vh;
}

.title.visible {
  animation: myAnimTop 2s ease 0s 1 normal forwards;
  opacity: 1;
}

.card-container {
  display: flex;
  width: 100%; 
  flex-direction: row; 
  justify-content: space-around;
  opacity: 0;
  margin-bottom: 10vh;
}

.card-container.visible {
  opacity: 1;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.card {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30%;
  overflow: hidden; 
  border-color: #000000;
}

.card-img-container {
  width: 8vh;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}

.card-img-container img {
  width: 100%;
  height: auto;;
  object-fit: contain;
}

.js img {
  width: 90%;
  height: auto;
  object-fit: contain;
}

.card p {
  font-size: clamp(0.7rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
  font-weight: 300;
  text-align: center;
  color: var(--text-color);
}

.skills h3 {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-weight: 600;
}

.update {
  opacity: 0;
}
/*******************************
 *  PROJECTS
 *******************************/

.projects {
  position: relative;
}

.projects .title {
  margin-bottom: 8vh;
}

.slider {
  position: relative;
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
  opacity: 0;
  margin-bottom: 8vh;
  border-radius: 50px;
}

.slider.visible {
  opacity: 1;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 31vh;
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

.slider-nav.visible {
  opacity: 1;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #8b8b8b;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a.active {
  opacity: 1;
  background-color: #fff;
}

.project-card-container { 
  padding: 0 10px;
  scroll-snap-align: start;
  flex: 0 0 100%; /* Cada carta ocupa el 100% del ancho del contenedor */
  max-width: 100%;
}

.project-card {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 10px;
  border-radius: 16px  16px 16px 16px;
  width: 100%;
  overflow: hidden; 
  box-shadow: var(--shadow-elevation-medium);
}

.project-card-img-container {
  width: 100%;
  margin-bottom: 1vh;
}

.project-card-img-container img {
  width: 100%;
  border-radius: 16px 16px 16px 16px;
}

.project-card-text {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 16.9vh;
}

.project-card-text a {
  all: unset;
  text-align: left;
  width: 30%;
}

.project-card-text p {
  text-align: left;
  font-size: clamp(0.7rem, 3vw, 1.5rem); /* Rango más pequeño para pantallas chicas */
  font-weight: 300;
  align-self: baseline;
  color: var(--text-color);
}

.project-card h3 {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-weight: 600;
  align-self: baseline;
  text-decoration: underline;
}

.tech-img-container {
  display: flex;
  padding: 1vh 0;

}
.tech-img-container img {
  width: 3.5vh;
  margin-right: 1vh;
}

.p-js {
  width: 3.2;
}

/*******************************
 *  EDUCATION
 *******************************/

.education {
  align-items: unset;
}

.education .title {
  margin-top: 10vh;
  margin-bottom: 6vh;
}
.certification-container {
  display: flex;
  max-width: 100%;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  padding: 0 2vh;

}

.certification-container.visible {
  opacity: 1;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.certification {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.certification-container h2 {
  font-size: var(--h2-font-size);
  font-weight: 400;
  margin-bottom: 0.50rem;
}

.certification h3 {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-weight: 400;
  align-self: baseline;
}

.certification p {
  font-size: clamp(0.7rem, 3vw, 1.5rem);
  font-weight: 200;
  color: var(--text-color);
  font-weight: var(--font-medium);
  align-self: baseline;
}

.certification a {
  font-size: clamp(0.7rem, 3vw, 1.5rem);
  transition: color 0.3s ease;
  align-self: baseline;
  text-decoration: none;
}


.degree {
  margin-top: 1rem;
  margin-bottom: 10vh;
}

.certification-container:nth-of-type(2) {
  margin-bottom: 5vh;
}

.certification-container:nth-of-type(2) a {
  opacity: 0;
}

/*******************************
 *  CONTACT ME
 *******************************/

.contact-me {
  justify-content: unset;
}

.contact-me .title {
  margin-bottom: 5vh;
  margin-top: 10vh;
}

.contact-me form h2 {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 2vh 4vh;
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom: 10vh;
  opacity: 0;
  border-radius: 50px;
}

.contact-form.visible {
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
  opacity: 1;
}

.contact-me form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 3vh;
  font-weight: 500;
}

.contact-me form input {
  width: 100%;
  padding: .5vh 1vh
}
.contact-me form textarea {
  width: 100%;
  height: 10vh;
  padding: .5vh 1vh
}
.contact-me button {
  align-self: center;
  background-color: #000000;
  color: white;
  padding: .5vh;
  transition: background-color 0.3s ease;
}


/*******************************
 *  HAMGURGER MENU
 *******************************/

.ham {
  padding-left: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10002;
}

.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  fill: none;
  stroke:rgb(49, 49, 49);
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

@media (min-width: 768px) {
 
  .nav-bar {
    padding: 0 10vh;

  }

  .nav-branding {
    width: 3vh;
    height: 3vh;
    font-size: .9rem;
  }

/*******************************
*  HOME
*******************************/
  .name {
    display: none;
  }

  .home, .skills, .projects, .education {
    padding: 0 10vh;
  }

  .profile-image-container {
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-right: 0;
  }

  .icons-container {
    margin-right: 0.5vh;
    align-items: center; /* Cambia a center para centrar los iconos horizontalmente */
  }
  
  .fab.fa-github, .fab.fa-whatsapp, .fas.fa-envelope, .fab.fa-linkedin {
    font-size: 1.8rem;
    margin-bottom: 0.7vh;
  }
  
  .fas.fa-envelope {
    font-size: 1.6rem;
  }

  .home h1 {
    font-size: 3rem;
  }
/*******************************
*  SKILLS
*******************************/

  .title {
    font-size: 3rem;
  }
  
  .card-img-container {
    width: 100%;
    max-width: 10vw;
    height: 10vh;
  }

  .card-container {
    justify-content: space-around;
  }
  .skills h3 {
    font-size: 1.2rem;
  }
  
  .card p {
    font-size: 1rem; /* Rango más pequeño para pantallas chicas */
  }
  
/*******************************
*  PROJECTS
*******************************/
  .slider {
    margin-bottom: 10vh;
  }

  .slider-nav {
    bottom: 33vh;
  }

  .project-card-text p {
    font-size: 1rem;
  }

  /*******************************
 *  EDUCATION
 *******************************/
  .certification-container h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  .certification h3 {
    font-size: 1.5rem;
  }

  .certification p {
    font-size: 1rem
  }

  .certification a {
    font-size: 1.2rem;
  }

  .certification-container:nth-of-type(1) {
    margin-bottom: 3vh;
  }

/*******************************
*  CONTACT ME
*******************************/
  .contact-me form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 2vh 4vh;
    box-shadow: var(--shadow-elevation-medium);
    margin-bottom: 10vh;
    opacity: 0;
    border-radius: 15px;
  }

  .contact-form.visible {
    animation: myAnimLeft 2s ease 0s 1 normal forwards;
    opacity: 1;
  }

  .contact-me form div {
    margin-bottom: 1.5vh;
    font-weight: 500;
  }
  .contact-form label {
    font-size: 1.5rem;
  }

  .contact-me form input {
    font-size: 1rem;
  }
  .contact-me form textarea {
    font-size: 1rem;
    height: 5rem;
  }
  .contact-me button {
    align-self: center;
    background-color: #000000;
    color: white;
    padding: .5vh;
  }
}

@media (min-width: 1023px) {
 
  .nav-bar {
    padding: 0 10vh;

  }

  .nav-branding {
    width: 3vh;
    height: 3vh;
    font-size: .9rem;
  }

  .nav-item {
    padding: 0;
  }

/*******************************
*  HOME
*******************************/
  .name {
    display: none;
  }

  .home, .skills, .projects, .education {
    padding: 0 10vh;
  }

  .profile-image-container {
    margin-top: 5vh;
    margin-bottom: 1vh;
    margin-right: 0;

  }

  .home h1 {
    font-size: 4rem;
  }

  .profile-title p {
    font-size: 1.3rem;
  }
/*******************************
*  SKILLS
*******************************/

  .title {
    font-size: 4rem;
  }
  
  .card-img-container {
    width: 100%;
    max-width: 10vw;
    height: 10vh;
  }

  .card-container {
    justify-content: space-around;
  }
  .skills h3 {
    font-size: 1.5rem;
  }
  
  .card p {
    font-size: 1rem; /* Rango más pequeño para pantallas chicas */
  }
  
/*******************************
*  PROJECTS
*******************************/
  .slider {
    margin-bottom: 10vh;
  }

  .slider-nav {
    bottom: 32vh;
    left: 47%;
  }

  .project-card-container {
    width: 12vh;
  }
  .project-card-text h3 {
    font-size: 1.6rem;
  }

  .project-card-text p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1023px) and (max-height: 769px)  {
 
  .nav-branding {
    height: 5vh;
    width:5vh;
  }
  .nav-bar{
    padding: 0 10vh;
  }

  .nav-menu{
    position:unset;
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #fff;
    backdrop-filter: unset;
    z-index: 0;
  }

  .nav-item{
    color: black;
    font-weight: 400;
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-decoration-thickness 0.3s ease;
    text-decoration: underline;
    text-decoration-color: transparent; /* Inicialmente transparente */
    text-decoration-thickness: 2px;
  }

  .nav-item.active {
    color: green;
  }

  .ham-button {
    display: none;
  }
/*******************************
*  HOME
*******************************/
.home, .skills, .projects, .education, .contact-me {
  padding: 6vh 10vh;
}

.home {
  flex-direction: row;
  padding: 6vh 15vh;
}

.home h1 {
  display: none;
}

.profile-image-container {
  width: auto;
  order: 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: unset;
  align-items: center;
  margin-top: 16vh;
  margin-bottom:16vh;
}

.profile-image {
  height: 45vh; 
  width: auto; 
  padding: 0;
  border-left: none;
  object-fit: cover;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
  margin: 0;
}

.icons-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
}

.profile-title {
  margin-top: 15vh;
}

.profile-title h1 {
  display: block;
  font-size: 3.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.profile-title p {
  width: 100%;
  text-align: left;
  overflow-wrap: unset;
  word-break: unset;
  border-left: 1px solid black;
  font-size: 1rem;
  margin: 0;
}

.title {
  margin-top: 6vh;
  margin-bottom: 15vh;
}

.icons-container {
  margin-top: 1vh;
}

.fab.fa-github, .fab.fa-whatsapp, .fas.fa-envelope, .fab.fa-linkedin {
  font-size: 1.8rem;
  margin-right: 0.7vh;
}
/*******************************
*  SKILLS
*******************************/
  .card-img-container {
    width: 100%;
    max-width: 8vw;
    height: 10vh;
  }

  .card-container {
    justify-content: space-around;
    margin-bottom: 12vh;
  }
  .skills h3 {
    font-size: 1.3rem;
  }
  
  .card p {
    font-size: 1rem; /* Rango más pequeño para pantallas chicas */
  }
  
/*******************************
*  PROJECTS
*******************************/
.slider {
  margin-bottom: 10vh;
  width: 100%;
  display:flex;
  height: auto;
  padding: 5vh 2vh;
  justify-content: space-between;
}

.slider-nav {
  display: none;
}

.project-card-container { 
  display: flex;
  width: 45vh;
  scroll-snap-align:unset;
  flex: unset;
  margin: 0;
  height: auto;
}

.project-card {
  transition: transform 0.3s ease;
}

.project-card:hover {
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.05); /* Aumenta el tamaño un 10% */
  box-shadow: var(--shadow-elevation-high); /* Sombra más intensa para destacar */
}

.project-card-img-container {
  width: 100%;
  height: auto;
  margin-bottom: 1vh;
}

.project-card-text h3 {
  font-size: 1.6rem;
}

.project-card-text p {
  font-size: 0.8rem;
}


.project-card {
  width: 100%;
  margin: 0 auto;
}

.project-card-text {
  height: auto;
}


/*******************************
*  EDUCATION
*******************************/

  .education {
    height: auto;
  }

  .education-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-self: unset;
    align-items: center;
  }

  .certification-container {
    display: flex;
    flex-direction: column; 
    align-self: baseline;
    align-items: baseline;
    margin-top: 5vh;
    padding: 0 3vh;
  }

  .certification {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    max-width: 100%;
  }

  .certification-container h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 3vh;    
  }

  .certification h3 {
    font-size: 1.2rem;
    font-weight: 400;
    align-self: baseline;
  }

}

@media (min-width: 1280px) {
  .separator {
    color: black;
    align-items: center;
    width: 76%;
    border-bottom: 1px solid black;
    margin: 0 auto; /* Centra el elemento horizontalmente */
    margin-top: 5vh;
  }

  .nav-branding {
    height: 4vh;
    width: 4vh;
    font-size: 1rem;
  }
  .nav-bar{
    padding: 0 16vh;
  }

  .nav-menu{
    position:unset;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 70%;
    backdrop-filter: unset;
    z-index: 0;
    padding: 0;
  }

  .nav-item{
    color: black;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0;
    transition: color 0.3s ease, text-decoration-color 0.3s ease, text-decoration-thickness 0.3s ease;
    text-decoration: underline;
    text-decoration-color: transparent; /* Inicialmente transparente */
    text-decoration-thickness: 2px; 
  }

  .nav-item:hover{
    cursor: pointer;
    background-color: #fff;
    color: green;
  }

  .nav-item.active {
    color:green;
  }

  .ham-button {
    display: none;
  }



/*******************************
*  HOME
*******************************/
.home, .skills, .projects, .education, .contact-me {
  padding: 6vh 18vh;
}

.home {
  flex-direction: row;
}

.home h1 {
  display: none;
}

.profile-image-container {
  width: auto;
  order: 2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: unset;
  align-items: center;
  margin-top: 25vh;
  margin-bottom:16vh;
}

.profile-image {
  height: 40vh; 
  width: auto; 
  padding: 0;
  border-left: none;
  object-fit: cover;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
  margin: 0;
}

.icons-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
  align-items: center;
}

.profile-title {
  margin-top: 22vh;
}

.profile-title h1 {
  display: block;
  font-size: 4rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.profile-title p {
  width: 100%;
  text-align: left;
  overflow-wrap: unset;
  word-break: unset;
  border-left: 1px solid black;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 1rem;
}

.title {
  margin-top: 6vh;
  margin-bottom: 15vh;
}

.icons-container {
  margin-top: 1.3vh;
}

:is(.fab.fa-github, .fab.fa-whatsapp, .fas.fa-envelope, .fab.fa-linkedin):hover {
  color: #646464;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


/*******************************
*  SKILLS
*******************************/
  .card-img-container {
    width: 100%;
    max-width: 8vw;
    height: 10vh;
  }

  .card-container {
    justify-content: space-around;
    margin-bottom: 12vh;
    margin-top: 10vh;
  }
  .skills h3 {
    font-size: 1.3rem;
    margin-top: 1vh;
  }
  
  .card p {
    font-size: 1rem; /* Rango más pequeño para pantallas chicas */
  }
  
/*******************************
*  PROJECTS
*******************************/
  
  .slider {
    margin-bottom: 10vh;
    width: 100%;
    display:flex;
    height: auto;
    padding: 5vh 2vh;
    justify-content: space-between;
  }

  .slider-nav {
    display: none;
  }

  .project-card-container { 
    display: flex;
    width: 45vh;
    scroll-snap-align:unset;
    flex: unset;
    margin: 0;
    height: auto;
  }

  .project-card {
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    background-color: #ffffff;
    cursor: pointer;
    transform: scale(1.05); /* Aumenta el tamaño un 10% */
    box-shadow: var(--shadow-elevation-high); /* Sombra más intensa para destacar */
  }

  .project-card-img-container {
    width: 100%;
    height: auto;
    margin-bottom: 1vh;
  }

  .project-card-text h3 {
    font-size: 1.6rem;
  }

  .project-card-text p {
    font-size: 0.8rem;
  }
  

  .project-card {
    width: 100%;
    margin: 0 auto;
  }

  .project-card-text {
    height: auto;
  }

  .project-card-text a:hover {
    transition: color .3s ease;
  }

  .project-card-text a:hover {
    color:#575757;
  }

/*******************************
*  EDUCATION
*******************************/

  .education {
    height: auto;
  }

  .education-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-self: unset;
    align-items: center;
  }

  .certification-container {
    display: flex;
    flex-direction: column; 
    align-self: baseline;
    align-items: baseline;
    margin-top: 5vh;
    padding: 0 3vh;
  }

  .certification {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    max-width: 100%;
  }

  .certification-container h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 3vh;    
  }

  .certification h3 {
    font-size: 1.2rem;
    font-weight: 400;
    align-self: 
    baseline;
  }

  .certification a {
    font-size: 1rem;
    font-weight: 400;
    align-self: baseline;
  }

}

@media (min-width: 1536px) {
  .separator {
    width: 80%;
  }

  .nav-branding {
    width: 4.6vh;
    height: 4.6vh;
    font-size: 1.1rem;
  }

  .nav-bar {
    height: 4rem;
  }
  
  .slider {
    padding-left: 2vh;
    padding-right: 2vh;
  }

  .profile-title h1 {
    font-size: 5rem;
  }
  
  .profile-title p {
    font-size: 1.5rem
  }

  .project-card-text p {
    font-size: 1rem;
  }

  .certification-container h2 {
    font-size: 2rem; 
  }

  .certification h3 {
    font-size: 1.3rem;

  }

  .certification p {
    font-size: 1.2rem;

  }

  .certification a {
    font-size: 1rem;
  }

  .skills {
    padding: 6vh 0;
  }
}

@media (min-width: 1920px) {
  .nav-bar {
    padding: 0 20vh;
  }

  .nav-branding {
    font-size: 1.4rem;
    width: 3.8vh;
    height: 3.8vh;
  }

  .nav-item {
    font-size: 1.3rem;
  }

  .home {
    padding: 0 20vh;
  }
  
  .profile-title h1 {
    font-size: 6rem;
  }

  .icons-container {
    margin-top: 1.3vh;
  }
  
  .fab.fa-github, .fab.fa-whatsapp, .fas.fa-envelope, .fab.fa-linkedin {
    font-size: 2.5rem;
    margin-right: 0.7vh;
  }

  .profile-title p {
    font-size: 1.8rem;
  }

  .profile-image-container {
    width: 70%;
  }
  
  .profile-image {
    height: 50vh
  }

  .card-img-container {
    width: 100%;
    max-width: 8vw;
    height: 15vh;
  }

  .card-container {
    justify-content: space-around;
    margin-bottom: 12vh;
    margin-top: 10vh;
  }
  .skills h3 {
    font-size: 1.3rem;
  }
  
  .card p {
    font-size: 1rem; /* Rango más pequeño para pantallas chicas */
  }
  .js img{
    width: 80%;
  }
  .title {
    margin-top: 18vh;
  }

  .projects title {
    margin-bottom: 15vh;
  }

  .education-container {
    justify-content: space-around;
  }
  .certification-container h2 {
    font-size: 2.5rem;
  }

  .certification h3 {
    font-size: 1.8rem;
  }

  .certification p {
    font-size: 1.6rem;
  }

}

/************************************************ ANIMATIONS ****************************************/

@keyframes fadeInUp {
  0% {
    transform: translateY(-100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100px); /* Inicia más abajo */
    opacity: 0; /* Comienza invisible */
  }
  100% {
    transform: translateY(0); /* Llega a su posición original */
    opacity: 1; /* Totalmente visible */
  }
}

@keyframes myAnimRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
  
}

@keyframes myAnimTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

